html * {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    scroll-behavior:smooth;
}

.mainPortfolioDiv {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, white, antiquewhite);
}

.headerPhotoDiv {
    background-image: url('./assets/wallMugBest.jpg');
    background-size: cover;
    width: 35vw;
    height: 100vh;
    border-right: 3px solid black;
}

.rightSideDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 65vw;
    height: fit-content;
    gap: 20px;
}

.navLinks {
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.headerText {
    font-size: 30px;
    margin-top: 20px;
}

.subHeaderText {
    font-size: 27px;
    padding: 10px;
}

.colorDiv {
    width: 50vw;
    height: 40vh;
    border: solid black 2px;
    border-radius: 12px;
    overflow: hidden;
    -webkit-box-shadow: 11px 11px 5px 5px rgba(145, 93, 93, 1);
    -moz-box-shadow: 11px 11px 5px 5px rgba(145, 93, 93, 1);
    box-shadow: 11px 11px 5px 5px rgba(145, 93, 93, 1);
}

.pinkDiv {
    background: linear-gradient(to right, rgb(255, 173, 200), rgb(231, 136, 240));
    width: 100%;
    height: 20%;
    padding: 20px;
}

.greenDiv {
    background: linear-gradient(to right, rgb(132, 241, 122), rgb(173, 255, 198));
    width: 100%;
    height: 20%;
    padding: 20px;
}

.projectsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.project {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.project:hover {
    transition: 1s;
    transform: scale(110%);
    box-shadow: none;
    cursor: pointer;
}

.projectTitle {
position: absolute;
color: antiquewhite;
background-color: rgba(24, 24, 24, .8);
width: 200px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

#about {
    width: 100vw;
    height: fit-content;
    background-color: cadetblue;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    margin: 0 auto;
    color: white;
    padding: 0 20px 20px 0;
}

.aboutHeader {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 45px;
}

.bio {
    font-size: 16px;
    padding: 8px;
}

.bioPlus {
    font-size: 20px;
    padding: 13px;
}

.coding {
    color: rgb(211, 65, 12);
    font-size: 30px;
}

.littleBit {
    color:rgb(132, 241, 122)
}

.codingTemple {
    font-size: 23px;
    padding: 10px 0 10px 0;
    color: gold;
}

.whiteText {
    color: white;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 100vw;
    gap: 10px;
    padding: 20px;
} 

.contactHeader {
padding: 20px;
font-size: 30px;
width: 100%;
}

.btnDiv {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn {
    background-color: gold;
    color: black;
    width: 150px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
}

@media (max-width: 970px) {
    .headerPhotoDiv {
        width: 50vw;
        height: 200px;
        margin: 25px auto;
        border: 3px solid black;
    }
    .headerText {
        margin: 0;
    }
    .subHeaderText {
        font-size: 13px;
    }
    .navLinks {
        width: 100vw;
    }
}

@media (max-width: 970px) {
    .projectsDiv {
        width: 100vw;
        margin-top: 25px;
        margin-bottom: 45px;
    }
}

@media  (max-width: 670px) {
    .rightSideDiv {
        width: 95vw;
        font-size: 12px;
    }
    .colorDiv {
        width: 95%;
    }
    .project {
        width: 300px;
        height: 300px;
    }

    .projectTitle {
        width: 300px;
    }
    .btn {
        width: 100px;
        height: 75px;
    }
}

